<h1><%= @artist.name %></h1>

<h3>Artists songs:</h3>
<% @artist.songs.map do |song|%>
  <p><a href="/songs/<%= song.slug %>"><%= song.name %></a></p>
<% end %>

<h3>Artists genre: </h3>
<% @artist.genres.map do |genre|%>
  <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>
